/* style.css */
/* ... otros estilos ... */

.arrow-indicator {
    display: flex;
    justify-content: flex-start; /* Coloca la flecha al inicio (izquierda) */
    align-items: center;
    margin-bottom: 10px;
}

.arrow-indicator img {
    width: 50px; /* Ajusta el tamaño de la flecha según necesites */
    height: auto;
    margin-right: 10px; /* Espacio entre la flecha y la tabla */
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduje el gap entre los input-container */
    width: 100%;
}

.row label {
    width: 120px;
    text-align: right;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% / 12 - 5px); /* Distribución para 12 campos */
    position: relative; /* Para posicionar el label de posición */
}

.valve-input {
    padding: 8px; /* Reduje un poco el padding */
    border: 1px solid #90caf9;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9em; /* Reduje un poco el tamaño de la fuente */
}

.valve-input.marked {
    background-color: #c8e6c9;
}

.input-container .message {
    font-size: 0.7em; /* Reduje el tamaño de la fuente del mensaje */
    color: #555;
    text-align: center;
    margin-top: 3px;
    font-style: italic;
}

.position-label {
    position: absolute;
    top: -10px; /* Coloca el número encima del input */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7em;
    color: #777;
}
